<div>
  <h1>Product selected: {{title}}</h1>
  <ul>
    <li>Description: {{description}}</li>
    <li>Code: {{code}}</li>
    <li>Price: {{price}}</li>
    <li>Status: {{status}}</li>
  </ul>
  <button><a href="/products">Regresar</a></button>
</div>